<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Ground Bakery</title>
</head>
<body>
<header>
    <!-- top navigation-->
    <nav class="nav-extended amber">
        <div class="nav-wrapper">
          <a href="{{ url_for('get_sites')}}" class="brand-logo amber text-darken-4">Ground</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{{ url_for('get_sites')}}">Home</a></li>
            <li><a href="#">Sites</a></li>
            <li><a href="#">Log In</a></li>
            <li><a href="#">Log out</a></li>
            <li><a href="#">Manage bookings</a></li>
            <li><a href="#">New booking</a></li>
            <li><a href="#">Profile</a></li>
          </ul>
        </div>
      </nav>
    
      <!-- mobile navigation-->
      <ul class="sidenav" id="mobile-demo">
        <li><h4 class="center-align amber text-darken-4">Ground</h4></li>
        <li><a href="{{ url_for('get_sites')}}">Home</a></li>
        <li><a href="#">Sites</a></li>
        <li><a href="#">Log In</a></li>
        <li><a href="#">Log out</a></li>
        <li><a href="#">Manage bookings</a></li>
        <li><a href="#">New booking</a></li>
        <li><a href="#">Profile</a></li>
      </ul>

</header>

    <H1>Ground Bakery</H1>
    {% block content %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/ownjs.js')}}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>